html,body{height:100%}

h1{margin-left: 35%; margin-bottom: 5%;}
*{
    box-sizing: border-box;
    
}

body {
    margin: 0;
    padding: 0;
    justify-content: center;
}

.column{flex-direction: column;}

.row{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;}

.column {
    flex: 25%;
    padding: 5px;
    justify-content: center;

}




.column video
{margin-top: 5px;}

@media (max-width: 600px) {
    .column{
        flex: 100%;
    }
}
.column {
    margin: auto;
    width: 90%;
    padding: 10px;
}